<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gymapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".main.GymApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        tools:replace="allowBackup"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApp"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".main.launcher.presentation.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.launcher.presentation.SelectLocationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.OnBoardingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.homepage.presentation.HomepageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gymapp.features.profile.main.presentation.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.settings.presentation.SettingsActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBT0Oty_zje_wZHO9TtRBfyDJnWZDPZiYI" />

    </application>

</manifest>