<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gymapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".main.GymApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="${appName}"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GymApp"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup, android:theme, android:label">
        <activity
            android:name=".main.launcher.presentation.LauncherActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.launcher.presentation.SelectLocationActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.onboarding.OnBoardingActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.homepage.presentation.HomepageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.mapview.presentation.MapViewActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.gymdetail.presentation.GymDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.gymapp.features.profile.main.presentation.ProfileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.settings.presentation.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.subscriptions.presentation.SubscriptionActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.classes.presentation.list.ClassesActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.classes.presentation.detail.ClassDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.payment.presentation.CardsListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.payment.presentation.SaveCardActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.medical.presentation.MedicalFormActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.store.presentation.homepage.StoreActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.store.presentation.detail.StoreProductDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.store.presentation.cart.StoreCartActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".features.profile.edit.presentation.changename.ChangeCustomerNameActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBT0Oty_zje_wZHO9TtRBfyDJnWZDPZiYI" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="gym.file.provider.authority"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

    </application>

</manifest>